.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.mid{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width:100%;
}

.App-link {
  color: #61dafb;
}

.tag-item{
  padding: 5px 8px;
  border:1px solid #ccc;
  font-size: 12px;
  margin-left: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
